<div class="container">
    <div style="padding: 80px"; class="row">
        {{#each products}}
            <div class="card" style="width: 18rem;">
                <p style="text-align: left;" class="card-text"> Id: {{this.id}}</p>
                <img style="margin: 0 auto; width:150px; text-align: center;" src="{{this.thumbnail}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 style="text-align: center; font-size:25px;" class="card-text"> {{this.title}}</h1>
                    <h2 style="text-align: center; font-size:20px;" class="card-text"> {{this.description}}</h2>
                    <h2 style="text-align: center; font-size:20px;" class="card-text"> $ {{this.price}}</h2>
                    
                    <button style="display: block; margin: 0 auto;" href="#" class="btn btn-primary">Agregar al carrito</button>
                </div>
            </div>
            {{/each}}
    </div>
</div>





<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

<footer style="width: 100%; bottom: 0; position: fixed; background-color:white; padding-top: 30px; bottom: 0; padding-top: 5px;">
  <div style="text-align: center; ">
    {{#each pageNumbers}}
      {{#if this.isCurrent}}
        <a style="text-align: center; font-size: 22px;" href="{{null}}">{{this.number}}</a>
      {{/if}}
      {{#if this.isPrevious}}
        <a style="text-align: center; font-size: 22px;" href="{{this.link}}">{{this.number}}</a>
      {{/if}}
      {{#if this.isNext}}
        <a style="text-align: center; font-size: 22px;" href="{{this.link}}">{{this.number}}</a>
      {{/if}}
    {{/each}}
  </div>
</footer>



